.favorites {
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5%;
    grid-column-gap: 5%;
    margin-top: 1vw;
}

.favorite-card {
    height: 35%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.favorite-card img {
    height: 40%;
    object-fit: contain;
}
.favorite-card h1 {
    font-size:1.7vw;
}

.favorite-card h2 {
    font-size:1.7vw;
}