
.weather-widget {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.MuiFormControlLabel-root {
    justify-content: center;
}
.weather-widget img {
    object-fit: contain;
    height: 7vw;
}

.weather-widget div{
    display: flex;
    flex-direction: column;
    
}
.weather-widget div p {
    font-size: 1.5vw;
}

@media screen and (max-width: 900px) {
    .weather-widget img {
        object-fit: contain;
        height: 15vw;
    }
    .weather-widget div p {
        font-size: 4vw;
    }
}


.favorites-icon {
    width: 17%;
    height: 40%;
    align-self: center;
    justify-self: flex-end;
    margin-right: 10%;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .favorites-icon {
        width: 44%;
        height: 50%;
    }
}




