.navbar {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
    transition: color 300ms ease;
}

.navbar h1 {
    font-size: 2vw;
}

.navbar h1 span {
    font-size: 1vw;
}