.navbar {
    position: relative;
    top: 0;
    width: 100vw;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    transition: color .3s ease;
}

.navbar h1 {
    font-size: 2vw;
}

.navbar h1 span {
    font-size: 1vw;
}